.btn {

  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  // padding: $field-padding-vertical  $field-padding-horizontal;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  white-space: nowrap;
  user-select: none;
  // text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: 25px;
  // border: 1px solid $gray-lighter;
  background-color: $background-color;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: lighten($btn-color, 25%);
    // border-color: darken($gray-lighter, 12%);
    transition: ease-in 0.3s;
  }

  &:visited {
    color: $text-color;
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    // background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--intro {
    position: relative;
    margin: auto;
    width: 209px;
    margin-top: 75px;

    @media (min-width: $screen-md) {
      margin-top: 17px;
    }

    @media (min-width: $screen-lg) {
      margin: 0;
      margin-left: 98px;
      margin-top: 15px;
    }
  }

  &--intro::after {
    position: absolute;
    content: "";
    background: url('/img/paw-white.svg') no-repeat center top;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 164px;
    z-index: 10;
  }

  &--slider {
    width: 240px!important;
    position: relative;
    background-color: $btn-color;
    margin: auto;
    width: 209px;
    margin-top: 0;
    color: white!important;
    flex-shrink: 0;
  }

  &--slider::after {
    position: absolute;
    content: "";
    background: url('/img/paw-orange.svg') no-repeat center top;
    width: 36px;
    height: 36px;
    top: 7px;
    left: 194px;
    z-index: 10;
  }

  &--modal {
    position: relative;
    padding-left: 0;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 122px!important;
    position: relative;
    background-color: $btn-color;
    margin: auto;
    width: 209px;
    margin-top: 0;
    color: white!important;
    flex-shrink: 0;
    border: none;
  }

  &--modal::after {
    position: absolute;
    content: "";
    background: url('/img/paw-orange.svg') no-repeat center top;
    width: 36px;
    height: 36px;
    top: 6px;
    left: 80px;
    z-index: 10;
    // margin-bottom: 60px!important;
  }


  &--room {
    width: 240px!important;
    position: relative;
    background-color: $btn-color;
    margin: auto;
    width: 209px;
    margin-top: 0;
    color: white!important;
    flex-shrink: 0;
    border: 0;
  }

  &--room::after {
    position: absolute;
    content: "";
    background: url('/img/paw-orange.svg') no-repeat center top;
    width: 36px;
    height: 36px;
    top: 7px;
    left: 194px;
    z-index: 10;
  }

  &--filter {
    position: relative;
    width: 111px;
    padding: 0;
    border: 0;
    box-shadow: 1px 1px 6px #d3d3d3;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &--filter::before {
    position: absolute;
    content: "";
    background: url('/img/filter.svg') no-repeat center top;
    width: 12px;
    height: 15px;
    left: 11px;
    top: 8px;
  }

  &--form {
    box-sizing: border-box;
    border: 2px solid $bullet-color;
    background-color: $bullet-color;
    width: 185px;
    margin-bottom: 1rem;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  &--form-inverse {
    box-sizing: border-box;
    width: 185px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    background-color: white;
    border: 2px solid $bullet-color;

  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }



  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
