.contacts {

  @media (min-width: $screen-md) {
    margin-top: 60px;
  }

  &__inner {
    @include container;
    // outline: 1px dotted #000000;
    background-color: $bullet-color;
  }

  &__grid {
    display: block;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }

  &__adress {
    margin-top: 30px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__social {
    margin-top: 26px;
    margin-bottom: 35px;
  }

  &__social .social {
    padding-left: 0;
    margin-top: -10px;
    margin-left: -5px;
  }

  &__map {

    @media (min-width: $screen-md) {
      margin: 0;
      margin-top: -90px;
      width: auto;
      height: auto;
      margin-bottom: -4px;
    }

  margin-top: 35px;
  min-height: 300px;
  width: 320px;
  height: 300px;
  margin-left: -15px;
}

&__map-img {
  @media (min-width: $screen-md) {
    margin: 0;
    left: 15px;
  }

  position: relative;
  display: block;
}

&__map-img::before {
  position: absolute;
  content: "";
  background: url("../img/marker.svg") no-repeat;
  width: 56px;
  height: 69px;
  top: 100px;
  left: 130px;
}

&__title {
  padding-top: 33px;
  font-family: $font-family--rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

&__subtitle {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}

&__text {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}
}
