.list-bullet {
  list-style: none;
  margin-top: 0;
  max-width: 140px;

  & > li {
    position: relative;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: -17px;
      font-size: 80%;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $bullet-color;
    }
  }
}
