.room-slider {
  margin-top: -40px;
  background: url("../img/fish-background.svg") no-repeat;
  background-position-x: 75px;
  background-position-y: 60px;

  @media (min-width: $screen-md) {
    margin-top: 57px;
    background-size: 339px 109px;
    background-position-x: 48px;
    background-position-y: 59px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 86px;
  }

  &__inner {
    @include container;
    // outline: 1px dotted #000000;
  }

  &__grid {

    @media (min-width: $screen-md) {
      margin-left: 0!important;
      margin-right: 0!important;
    }

    @media (min-width: $screen-lg) {
      // margin-left: auto;
      // margin-right: auto;
    }

  }

  &__header {
    font-family: $font-family--rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 5px;

    @media (min-width: $screen-md) {
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
    }
  }

  &__item {
    @include col(xs, 12, $grid-columns, 0);
    // @include col(sm, 12, $grid-columns, 0); // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 12, $grid-columns, 0);
    @include col(lg, 12, $grid-columns, 0);
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    width: 287px;

    @media (min-width: $screen-md) {
      width: 443px;
      max-height: 335px;
    }

    @media (min-width: $screen-lg) {
      width: 600px;
      max-height: 415px;
      margin-left: 100px;
    }
    // background-color: $border-color;
  }

  &__item-wrap {
    margin-left: 1px;
    box-shadow: 1px 1px 6px #d3d3d3;
    border-radius: 6px;
    padding-bottom: 15px;
    background-color: $body-bg;

    @media (min-width: $screen-md) {
      box-shadow: none;
      // max-height: 350px;
    }
  }

  &__title {
    font-family:$font-family--rubik;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-top: 3px;
    padding-left: 25px;
  }

  &__text {
    font-size: $font-family;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
  }

  &__content {
    padding-left: 20px;

    @media (min-width: $screen-md) {
      position: relative;
      left: 285px;
      top: -290px;
      width: 345px;
      box-shadow: 1px 1px 6px #d3d3d3;
      border-radius: 6px;
      padding: 20px;
      background-color: $body-bg;
    }

    @media (min-width: $screen-lg) {
      left: 500px;
      box-sizing: border-box;
      top: -345px;
      width: 500px;
      padding-top: 40px;
      padding-left: 0;
      padding-left: 100px;
      padding-bottom: 40px;
      padding-right: 117px;
      background-color: #fff;
    }
  }
}
