.page-header {
  min-height: 62px;
  &__inner {
    @include container;
    // outline: 1px dotted #000000;
    min-height: 62px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      min-height: 76px;
    }

    @media (min-width: $screen-lg) {
      justify-content: safe;
    }
  }

  &__contact {
    display: block;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__contact-tel {
    padding-top: 7px;
    padding-left: 15px;
  }
}
