
.fields-group {

  // $block-name:                &; // #{$block-name}__element

  // display: flex;
  // flex-wrap: wrap;
  // align-items: flex-start;
  // justify-content: space-between;
  // margin-bottom: 1rem;

&--modal {
  margin-top: 30px;
  flex-direction: column;

  @media (min-width: $screen-md) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $screen-lg) {
    padding-left: 70px;
    padding-right: 70px;
  }
}

&--filter {
  display: flex;
  justify-content: space-between;
}

// &--date {
//   margin-bottom: 20px;
// }

&__header {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

&__wrap {
  min-width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px!important;
}





  .btn,
  select,                     // обычно, не участвует в группировке
  input {
    position: relative;
    margin: 0;

    // &:hover,
    &:focus {
      position: relative;
      z-index: 1;             // фокус должен быть красивым
    }
  }

  .field-actions,
  // .field-file,                // обычно, не участвует в группировке
  // .field-select,              // обычно, не участвует в группировке
  .field-text {
    margin: 0;
  }

  .field-actions {

    &:not(:last-child) .btn {
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
    }

    &:not(:first-child) .btn {
      // border-left: 0;
      // border-top-left-radius: 0;
      // border-bottom-left-radius: 0;
    }

    .btn {

      // &:hover,
      &:focus {
        z-index: 1;           // фокус должен быть красивым
      }
    }
  }

  .field-text {

    &:not(:last-child) .field-text__input {
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
    }

    &:not(:first-child) .field-text__input {
      // border-left: 0;
      // border-top-left-radius: 0;
      // border-bottom-left-radius: 0;
    }
  }

  // .field-file {               // обычно, не участвует в группировке

  //   input {
  //     position: absolute;
  //   }

  //   &:not(:last-child) .field-file__name-text {
  //     border-top-right-radius: 0;
  //     border-bottom-right-radius: 0;
  //   }

  //   &:not(:first-child) .field-file__name-text {
  //     border-left: 0;
  //     border-top-left-radius: 0;
  //     border-bottom-left-radius: 0;

  //     &:before {
  //       border-top-left-radius: 0;
  //       border-bottom-left-radius: 0;
  //     }
  //   }
  // }

  // .field-select {             // обычно, не участвует в группировке

  //   &:not(:last-child) .field-select__select {
  //     border-top-right-radius: 0;
  //     border-bottom-right-radius: 0;
  //   }

  //   &:not(:first-child) .field-select__select {
  //     border-left: 0;
  //     border-top-left-radius: 0;
  //     border-bottom-left-radius: 0;
  //   }
  // }
}
