$line-height:                 1.5 !default;
$border-radius:               rem(3px) !default;

.field-checkbox {

  // $block-name:                &; // #{$block-name}__element

  margin-top: 2rem;
  display: block;
  // margin-bottom: 1rem;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      display: block;
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    // display: inline-block;
    display: block;
    margin-bottom: 0.7em;
    padding-left: 2em;
    padding-top: 0.3em;
    margin-right: 0.6em;
    // font-family: $font-family;
    // font-style: normal;
    // font-weight: normal;
    // font-size: 14px;
    // line-height: 17px
  }

  &__name-text {
    display: inline-block;
    padding-left: 0.6em;
    padding-top: 0.3em;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    // свой чекбокс с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: rem(5px);
    //   left: 0;
    //   width: rem(14px);
    //   height: rem(14px);
    //   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox--checked.svg');
    // }

    // / свой чекбокс с картинкой

    // свой чекбокс без картинок

    &:before {
      content: '';
      position: absolute;
      top: rem(5px);
      left: 0;
      width: rem(20px);
      height: rem(20px);
      // border: 2px solid currentColor;
      border: 1px solid $room-color;
      border-radius: $border-radius;
    }

    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      content: '';
      position: absolute;
      top: rem(10px);
      left: 4px;
      width: rem(14px);
      height: rem(6px);
      opacity: 0;
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg);
      transition: opacity $transition-time;
      box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }

    // / свой чекбокс без картинок
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
