.page-footer {

  &__inner {
    @include container;
    // outline: 1px dotted #000000;
  }

  &-wrap {
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copyright {
    position: relative;
    margin-top: 35px;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8F8F8F;

    @media (min-width: $screen-md) {
      margin-top: 22px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

  }

  &__copyright::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: $border-color;
    top: -7px;
    left: -15px;

    @media (min-width: $screen-md) {
      width: 678px;
      left: 0;
    }

    @media (min-width: $screen-lg) {
      width: 1170px;
    }
  }
}
