body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: $font-family;
  // background-color: green;
  // background: url("../_design/index-mobile.jpg") no-repeat center top;
  // background: url("../_design/index-mobile-menu.jpg") no-repeat center top;
  // min-height: 4379px;
  // background-color: $background-color!important;
}

img {
  max-width: 100%;
  height: auto;
  // display: block;
}

@media (min-width: $screen-md) {

  body {
    // background: url("../_design/index-tablet.jpg") no-repeat center top;
    // min-height: 3892px;
  }
}

@media (min-width: $screen-lg) {

  body {
    // background: url("../_design/index-desktop.jpg") no-repeat center top;
    // min-height: 3560px;
  }
}

html {
  scroll-behavior: smooth;
}
